html {
	background-color:black;
	color:white;
}

.intro {
	background-color:grey;
	background-image:url('Earth1.jpg');
	
}

.intro header, 
.intro .summary, 
.intro .preamble {
	border: 5px stripped black;
    }
	
	.supporting {
	/*background-color:yellow;*/
}

.supporting div, 
.supporting footer {
	/*border: 5px dashed black;*/
}

.sidebar {
	/*background-color:purple;*/
}

.sidebar .wrapper div {
	/*border: 5px dashed black;*/
}

.sidebar {
		width:35%;
		margin-left:65%;
	}
	
	.intro,
	.supporting {
		width:60%;
		float:left;
	}
