@import url('r.css');

.page-wrapper{
	background-image:url("test.jpg");
	}

.intro {
	
	background-repeat:no-repeat;
	background-image:url('b1.png');
	text-align:center;
	height:750px;
	width:1000px;
	margin-left:5%;
	

}
.intro p, h1,h2, h3,
.summary p,h1, h2, h3
{
	color:red;
	font-family:Times;
	max-width:480px;
	font-size:20px;
	bottom:50%;
	margin-left:20%;
	}


.supporting
.explanation{
	
	width:1000px;
	height:750px;
	background-image:url("b0.png");
	background-repeat:no-repeat;
	margin:5%;	
	}


.explanation p,
.explanation h3{
	position:relative;
	top:50%;
	bottom:50%;
	left:5%;
	color:red;
	font-family:Times;
	max-width:480px;
	font-size:20px;
	}
	


.participation
	{
	width:1000px;
	height:750px;
	background-image:url("b2.png");
	margin:5%;
	background-repeat:no-repeat;
	}

.participation p,
.participation h1{
	
	position:relative;
	left:43%;
	top:30%;
	color:red;
	font-family:Times;
	width:480px;
	height:200px;
	font-size:20px;
	text-align:center;
	overflow:auto;
	}


.benefits
{
	width:1000px;
	height:750px;
	background-image:url("b4.png");
	margin:5%;
	background-repeat:no-repeat;
	}

.requirements p,
.requirements h1,
{
 	position:relative;
	color:red;
	font-family:Times;
	width:480px;
	height:480px;
	font-size:25px;
	overflow:auto;
	
}
.benefits p,
.benefits h1

{   
	width:1700px;
	height:200px;
	background-color:transparent;
	margin:5%;
	position:relative;
	top:50%;
	bottom:50%;
	left:15%;
	color:red;
	font-family:Times;
	max-width:480px;
	max-height:480px;
	font-size:25px;
	overflow:auto;
}

{
@media all and (min-width:1200px)}
{@media all and (max-width:1200px0}


.sidebar {
	/*background-color:green;*/
}

.sidebar .wrapper div {
	/*border: 5px dashed blue;*/
	
	
}

  
  .page-wrapper{
  
  	padding:30px
  	}
	
	.intro,
	.supporting {
		
	}

	
.sidebar {
		width:35%;
		;
	}

