@import url("rest.css");

html {
	
}

.intro {
	background-image:url("earth.png");
	background-repeat:no-repeat;
	text-align:center;
	font-family:Garamond 30px;
	background-position:50% 50%;
	

}

.intro header, 
.intro .summary, 
.intro .preamble {
	
	/*border: 5px dashed blue;*/
}

.supporting {
	
	width:1700px;
	height:1000px;
	overflow:auto;
	overflow-x:hidden;
	}

.supporting p{

	position:relative;
	top:50%;
	bottom:50%;
	text-wrap:surpress;
	
	}

.supporting div, 
.supporting footer {
	width:1700px;
	height:1000px;
background-image:url("bailar.png");
text-align:center;
}

.sidebar {
	/*background-color:green;*/
}

.sidebar .wrapper div {
	/*border: 5px dashed blue;*/
	
	
}

  
  .page-wrapper{
  
  	padding:30px
  	}
	
	.intro,
	.supporting {
		
	}

	
.sidebar {
		width:35%;
		;
	}

